<?xml version="1.0" encoding="utf-8"?>
<blueLeetUCodeFirst xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform" xdt:Transform="SetAttributes" xmlns="BlueLeet://uCodeFirst" silentThrowOnError="true">
  <synchronization xdt:Transform="SetAttributes" mode="None" removeUnmappedItems="false" cacheModels="true"></synchronization>
</blueLeetUCodeFirst>