<?xml version="1.0"?>
<Repositories xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <repository key="package-feed" name="package-feed" path="D:\Workspaces\BlueLeet\Websites\AngularEventSite\AngularEventSite.UI\App_Data\NuGetServer\package-feed" apiKey="b683e3d2-6ca1-459d-bb0e-69d4253cf88a" />
</Repositories>