<?xml version="1.0" encoding="utf-8"?>
<blueLeetUCodeFirst xmlns="BlueLeet://uCodeFirst" silentThrowOnError="true" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="BlueLeet://uCodeFirst C:\Workspace\AngularEventSite\AngularEventSite\packages\BlueLeet.UCodeFirst.0.8.53\uCodeFirst.xsd">
  <synchronization mode="None" removeUnmappedItems="false" cacheModels="true">
    <includedAssemblies>
      <assemblie name="AngularEventSite" />
      <assemblie name="BlueLeet.UComponents.UCodeFirst" />
    </includedAssemblies>
    <managers>
      <dataTypes defaultInheritBase="true" />
    </managers>
  </synchronization>
</blueLeetUCodeFirst>