@inherits Umbraco.Web.Mvc.UmbracoViewPage<dynamic>
<a class="module-go-top go-top-circle" href="javascript:void(0)" style="bottom: 12px; opacity: 1;" [scroll-to]="0" [scroll-duration]="300"> <i class="fa fa-angle-up"></i> </a>