@inherits Umbraco.Web.Mvc.UmbracoViewPage<dynamic>
<div class="blockquote">
    <p>@Model.value.quotetext</p>
</div>
<div class="quoteAuthor">
    <div class="authorNameSection">
        <p class="authorName">@Model.value.authorname</p>
    </div>
    <p class="authorTitle">@Model.value.authordescription</p>
</div>