<?xml version="1.0"?>
<!--
Umbraco examine is an extensible indexer and search engine.
This configuration file can be extended to create your own index sets.
Index/Search providers can be defined in the UmbracoSettings.config

More information and documentation can be found on GitHub: https://github.com/Shazwazza/Examine/
-->
<ExamineLuceneIndexSets>
  <IndexSet SetName="InternalIndexSet" IndexPath="~/App_Data/TEMP/ExamineIndexes/{machinename}/Internal/" />
  <IndexSet SetName="InternalMemberIndexSet" IndexPath="~/App_Data/TEMP/ExamineIndexes/{machinename}/InternalMember/">
    <IndexAttributeFields>
      <add Name="id" />
      <add Name="nodeName" />
      <add Name="updateDate" />
      <add Name="writerName" />
      <add Name="loginName" />
      <add Name="email" />
      <add Name="nodeTypeAlias" />
    </IndexAttributeFields>
  </IndexSet>
  <IndexSet SetName="ExternalIndexSet" IndexPath="~/App_Data/TEMP/ExamineIndexes/{machinename}/External/">
    <IndexUserFields>
      <add Name="gridFrontPage" />
    </IndexUserFields>
  </IndexSet>
  <IndexSet SetName="External_sv-SE_IndexSet" IndexPath="~/App_Data/TEMP/ExamineIndexes/{machinename}/External_sv-SE/"
    IndexParentId="1350">
    <ExcludeNodeTypes>
      <add Name="Folder" />
      <add Name="ContainerPageModel" />
      <add Name="RssReaderPageModel" />
      <add Name="RssWriterPageModel" />
      <add Name="FormCategoryPageModel" />
      <add Name="FormFolderPageModel" />
      <add Name="FormPageModel" />
      <add Name="ConfigurationPageModel" />
      <add Name="CookieAlertConfigurationPageModel" />
      <add Name="EmailConfigurationPageModel" />
      <add Name="FooterConfigurationPageModel" />
      <add Name="GoogleAnalyticConfigurationPageModel" />
      <add Name="LogoAndFaviconConfigurationPageModel" />
      <add Name="MemberConfigurationPageModel" />
      <add Name="Redirect404ConfigurationPageModel" />
      <add Name="RobotsConfigurationPageModel" />
      <add Name="SearchConfigurationPageModel" />
      <add Name="SitemapConfigurationPageModel" />
      <add Name="PriceConfigurationPageModel" />
      <add Name="SquareMetersPriceConfigurationPageModel" />
    </ExcludeNodeTypes>
    <IndexUserFields>
      <add Name="hideInNavigation" />
      <add Name="gridFrontPage" />
      <add Name="metaDescription" />
      <add Name="metaKeywords" />
      <add Name="gridStartPage" />
      <add Name="searchTags" />
    </IndexUserFields>
    <IndexAttributeFields>
      <add Name="id" />
      <add Name="nodeName" />
      <add Name="urlName" />
    </IndexAttributeFields>
  </IndexSet>
  <IndexSet SetName="MediaIndexSet" IndexPath="~/App_Data/TEMP/ExamineIndexes/{machinename}/MediaIndexSet">
    <IncludeNodeTypes>
      <add Name="File" />
      <add Name="FileExcel" />
      <add Name="FileMovie" />
      <add Name="FilePdf" />
      <add Name="FilePowerpoint" />
      <add Name="FileSound" />
      <add Name="FileWord" />
      <add Name="FileZip" />
      <add Name="YouTube" />
    </IncludeNodeTypes>
    <IndexAttributeFields>
      <add Name="id" />
      <add Name="nodeName" />
      <add Name="updateDate" />
      <add Name="writerName" />
      <add Name="path" />
      <add Name="nodeTypeAlias" />
      <add Name="parentID" />
      <add Name="searchTags" />
      <add Name="FileTextContent" />
    </IndexAttributeFields>
  </IndexSet>
  <IndexSet SetName="BlueLeetContentIndexSet" IndexPath="~/App_Data/TEMP/ExamineIndexes/{machinename}/BlueLeet/Content/" />
  <IndexSet SetName="BlueLeetMediaIndexSet" IndexPath="~/App_Data/TEMP/ExamineIndexes/{machinename}/BlueLeet/Media/" />
  <IndexSet SetName="BlueLeetCacheIndexSet" IndexPath="~/App_Data/TEMP/ExamineIndexes/{machinename}/BlueLeet/Cache/" />
</ExamineLuceneIndexSets>