@using AngularEventSite.Web.Abstraction
@using AngularEventSite.Web.Enums
@using Skybrud.Umbraco.GridData.Extensions
@inherits UmbracoViewPage<AngularEventSite.Web.Models.EventCodePageModel>
@{
    var layoutSettings = ViewBag.layoutSettings as IViewLayoutSettings ?? DependencyResolver.Current.GetService<IViewLayoutSettings>();
}
@section FullContent
{
    @Html.Partial("~/Views/Partials/_Header.cshtml", Model)

    <event-code>
        <template let-event>
            @*@if (layoutSettings.LayoutType == LayoutType.BoxedLayout)
            {
                <div id="mainContent" class="container container__main">
                    @Html.GetTypedGridHtml(Model.Content, "GridFrontPage", "ContentArea")
                </div>
            }
            else
            {
                @Html.GetTypedGridHtml(Model.Content, "GridFrontPage", "ContentArea")
            }*@
        </template>
    </event-code>
}