@using AngularEventSite.Web.Models
@inherits BlueLeet.UCodeFirst.Macros.PartialViewMacroPage<AngularEventSite.Web.MacroTypes.EventActivity.DayCounterMacroType>
@{
    var currentPage = Model.Content.ToModel() as EventActivityPageModel;
    if (currentPage == null || currentPage.StartDate.HasValue == false)
    {
        return;
    }

    var daysLeft = (currentPage.StartDate.Value - DateTime.Now).Days;
}
<div class="countdown countdown--big d-flex justify-content-center">
    <div class="row">
        <div class="countdown-item col-sm-3 col-6">
            <div class="countdown__number">@daysLeft</div>
            <div class="countdown__label">dagar kvar</div>
        </div>
        @*<div class="countdown-item col-sm-3 col-6">
            <div class="countdown__number">22</div>
            <div class="countdown__label">hours</div>
        </div>
        <div class="countdown-item col-sm-3 col-6">
            <div class="countdown__number">23</div>
            <div class="countdown__label">minutes</div>
        </div>
        <div class="countdown-item col-sm-3 col-6">
            <div class="countdown__number">22</div>
            <div class="countdown__label">seconds</div>
        </div>*@
    </div>
</div>