<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
	<system.net>
		<mailSettings>
			<smtp deliveryMethod="Network" xdt:Transform="Replace" from="marketing@specialistportalen.se">
				<network host="smtp01.binero.se" userName="marketing@specialistportalen.se" password="nb7vz9Di7yiBIcVgbjEe" enableSsl="true" port="465" />
			</smtp>
		</mailSettings>
	</system.net>
</configuration>