<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
	<connectionStrings>
		<add name="umbracoDbDSN" connectionString="" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
	</connectionStrings>
	<appSettings>
		<add key="Social:FacebookAppId" value="" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
		<add key="Social:FacebookAppSecret" value="" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
		<add key="Webpack:UseDevServer" xdt:Transform="Remove" xdt:Locator="Match(key)" />
		<add key="Webpack:DevServerRoot" xdt:Transform="Remove" xdt:Locator="Match(key)" />
	</appSettings>
	<system.net>
		<mailSettings>
			<smtp deliveryMethod="Network" xdt:Transform="Replace">
				<network host="" userName="" password="" />
			</smtp>
		</mailSettings>
	</system.net>
	<system.web>
		<sessionState xdt:Transform="InsertIfMissing" />
		<sessionState mode="SQLServer" xdt:Transform="SetAttributes" />
	</system.web>
	<compilation xdt:Transform="RemoveAttributes(debug,batch)"></compilation>
</configuration>
