/*!
 *  Links base
 */
a {
    transform: none;
    transition: all 0.4s ease-in-out 0s;
    outline: rgb(255, 255, 255) none 0px;
    outline-offset: 0px;
    box-sizing: border-box;
    resize: none;
    text-shadow: none;
    text-overflow: clip;
    word-wrap: normal;
    box-shadow: none;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}
