/*!
 * app base
 */

app {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: stretch;
    min-height: 100vh;
    
    .container-main {
        flex: 1 1 auto;
    }
}
