/*!
 *  Widget list object
 */

.widget .widget-list {
    margin-bottom: 0;
    margin-left: 0;
    padding-left: 0;
    list-style-type: none;

    .list-item {
        position: relative;
        clear: both;
        margin-bottom: 8px;
        padding-bottom: 8px;
    }

    .list-item .list-item-link {
        @extend %link;
    }
}