/// <reference path="_settings.bootstrap.scss" />
/*!
 *  Space blue settings.
 */
$main-container-padding: 40px;
$main-container-padding-right: $main-container-padding !default;
$main-container-padding-left: $main-container-padding !default;
$main-container-padding-bottom: $main-container-padding !default;