@inherits Umbraco.Web.Mvc.UmbracoViewPage<Skybrud.Umbraco.GridData.Rendering.GridControlWrapper<BlueLeet.UComponents.Core.GridValues.GridControlGoogleMapsValue>>
<div class="widget-maps embed-responsive embed-responsive-16by9">
    @Html.Raw(Model.Value.Value)
</div>